@* _DefaultSectionGalleryComponentPartial *@
@model List<ResultHomePageGalleryDto>
<section class="site-section" id="section-gallery">
    <div class="container">
        <div class="row site-custom-gutters">

            <div class="col-md-12 text-center mb-5 site-animate">
                <h2 class="display-4">Galerimiz</h2>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <p class="lead">Yeni Deneyimler Edinin</p>
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md-4 site-animate">
                    <a href="@item.FoodImageUrl" class="site-thumbnail image-popup">
                        <img src="@item.FoodImageUrl" alt="resim" class="img-fluid gallery-fixed-image">
                    </a>
                </div>
            }
        </div>
    </div>
</section>