@model List<ResultHomePageGalleryDto>

@{
    ViewData["Title"] = "Galeri";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="fixed bottom-6 right-6 z-50">
    <a href="/Gallery/CreateGallery"
       class="px-4 py-3 rounded-full shadow-lg bg-gradient-to-r from-emerald-500 to-teal-400 text-white font-semibold text-sm hover:opacity-90 transition duration-300">
        Görsel Ekle
    </a>
</div>

<div class="flex flex-wrap -mx-3 container mx-auto px-4 ml-10">
    <div class="flex-none w-full max-w-full px-3">
        <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                <h6 class="dark:text-white">Galleri</h6>
            </div>
            <div class="flex-auto px-0 pt-0 pb-2">
                <div class="p-0 overflow-x-auto ps">
                    <table class="items-center w-full mb-0 align-top border-collapse dark:border-white/40 text-slate-500">
                        <thead class="align-bottom">
                            <tr>
                                <th class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Resim</th>
                                <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Ekleyen</th>
                                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Aktif/Pasif</th>
                                <th class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-collapse border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap text-slate-400 opacity-70"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                        <img src="@item.FoodImageUrl" alt="Galeri resmi" class="rounded-lg" style="width: 100px; height: 100px; object-fit: cover;" />
                                    </td>
                                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                        <p class="mb-0 text-xs font-semibold leading-tight dark:text-white dark:opacity-80">İlker</p>
                                        <p class="mb-0 text-xs leading-tight dark:text-white dark:opacity-80 text-slate-400">Admin</p>
                                    </td>
                                    <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                        <form method="post" asp-action="ToggleGalleryStatus" asp-route-id="@item.GalleryId">
                                            <button type="submit" class="text-xs font-bold px-2 py-1 rounded
                                                                @(item.GalleryStatus ? "bg-purple-600 text-green" : "bg-gray-400 text-red")">
                                                @(item.GalleryStatus ? "Pasif Yap" : "Aktif Yap")
                                            </button>
                                        </form>
                                    </td>



                                    <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                        <a href="/Gallery/DeleteGallery/@item.GalleryId" class="text-xs font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400"> Sil </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                </div>

            </div>
        </div>

    </div>
</div>

