@* _FooterViewComponentPartial *@
<footer class="site-footer site-bg-dark site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 site-animate">
                        <h2 class="site-heading-2">Hakkımızda</h2>
                        <p>
                            Taze ve yerel malzemelerle en iyi mutfağı sunmaya kararlıyız. Yemeğe ve misafirperverliğe olan tutkumuz, unutulmaz bir yemek deneyimi yaratıyor.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3 site-animate">
                        <div class="site-footer-widget mb-4">
                            <h2 class="site-heading-2">Restroanımız</h2>
                            <ul class="list-unstyled">
                                <li><a href="/eatwell/index.html#section-about" class="py-2 d-block">Hakkımızda</a></li>
                                <li><a href="/eatwell/chefs.html" class="py-2 d-block">Şeflerimiz</a></li>
                                <li><a href="/eatwell/index.html#section-news" class="py-2 d-block">Özel Günler</a></li>
                                <li><a href="/eatwell/index.html#section-contact" class="py-2 d-block">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 site-animate">
                        <div class="site-footer-widget mb-4">
                            <h2 class="site-heading-2">Menü</h2>
                            <ul class="list-unstyled">
                                <li><a href="/eatwell/menu.html#pills-breakfast" class="py-2 d-block">Kahvaltı</a></li>
                                <li><a href="/eatwell/menu.html#pills-lunch" class="py-2 d-block">Öğle Yemeği</a></li>
                                <li><a href="/eatwell/menu.html#pills-dinner" class="py-2 d-block">Akşam Yemeği</a></li>
                                <li><a href="/eatwell/menu.html#pills-desserts" class="py-2 d-block">Tatlılar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 site-animate">
                        <div class="site-footer-widget mb-4">
                            <h2 class="site-heading-2">Kısa Linkler</h2>
                            <ul class="list-unstyled">
                                <li><a href="/Default/Index" class="py-2 d-block">Ana Sayfa</a></li>
                                <li><a href="/MenuDetail/Index" class="py-2 d-block">Tüm Menü</a></li>
                                <li><a href="/eatwell/index.html#section-gallery" class="py-2 d-block">Galeri</a></li>
                                <li><a href="/eatwell/index.html#reservationModal" class="py-2 d-block" data-toggle="modal">Rezervasyonlar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row site-animate">
            <div class="col-md-12 text-center">
                <div class="site-footer-widget mb-4">
                    <ul class="site-footer-social list-unstyled ">
                        <li class="site-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="site-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="site-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <p>&copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Eatwell Restaurant</p>
            </div>
        </div>
    </div>
</footer>
